BLOB_READ_WRITE_TOKEN=
YOUTUBE_API_KEY=
SENDER_EMAIL=
MY_EMAIL=
BREVO_API_ENDPOINT=
BREVO_API_KEY=
ALLOWED_HOSTS=
ALLOWED_DOMAINS=
NOTION_API_ENDPOINT=
NOTION_TOKEN=
NOTION_DATABASE_ID=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_RECAPTCHA_BYPASS=false
RECAPTCHA_BYPASS=false
RECAPTCHA_SECRET_KEY=
RECAPTCHA_BYPASS=